In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("paper")
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
cc = pd.read_csv("risk_factors_cervical_cancer.csv", na_values = '?')
cc_sm = cc[['Age', 'Number of sexual partners', 'First sexual intercourse', 'Num of pregnancies', 'Smokes',
               'Hormonal Contraceptives', 'IUD', 'STDs', 'STDs:condylomatosis', 'STDs:cervical condylomatosis', 
            'STDs:vaginal condylomatosis', 'STDs:vulvo-perineal condylomatosis', 'STDs:syphilis', 
            'STDs:pelvic inflammatory disease', 'STDs:genital herpes', 'STDs:molluscum contagiosum', 'STDs:AIDS', 
            'STDs:HIV', 'STDs:Hepatitis B', 'STDs:HPV', 'Dx:Cancer']]
cc_sm.columns = ['age', 'num_sex', 'fir_sex', 'num_preg', 'smokes', 'horm_cont', 'IUD', 'STDtot', 'STDc', 'STDcc',
                 'STDvc', 'STDvpc', 'STDs', 'STDpid', 'STDgh', 'STDmc', 'STDaids', 'STDhiv', 'STDhb', 'STDhpv', 'DxC']
cc_sm.to_pickle("cc_sm.pkl")
cc_sm.head()

,age,num_sex,fir_sex,num_preg,smokes,horm_cont,IUD,STDtot,STDc,STDcc,...,STDvpc,STDs,STDpid,STDgh,STDmc,STDaids,STDhiv,STDhb,STDhpv,DxC
0,18,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,15,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,34,1.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,52,5.0,16.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,46,3.0,21.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [3]:
n = cc_sm.isnull().sum()
n

age            0
num_sex       26
fir_sex        7
num_preg      56
smokes        13
horm_cont    108
IUD          117
STDtot       105
STDc         105
STDcc        105
STDvc        105
STDvpc       105
STDs         105
STDpid       105
STDgh        105
STDmc        105
STDaids      105
STDhiv       105
STDhb        105
STDhpv       105
DxC            0
dtype: int64

In [4]:
cc_sm.describe()

,age,num_sex,fir_sex,num_preg,smokes,horm_cont,IUD,STDtot,STDc,STDcc,...,STDvpc,STDs,STDpid,STDgh,STDmc,STDaids,STDhiv,STDhb,STDhpv,DxC
count,858.000000,832.000000,851.000000,802.000000,845.000000,750.000000,741.000000,753.000000,753.000000,753.0,...,753.000000,753.000000,753.000000,753.000000,753.000000,753.0,753.000000,753.000000,753.000000,858.000000
mean,26.820513,2.527644,16.995300,2.275561,0.145562,0.641333,0.112011,0.104914,0.058433,0.0,...,0.057105,0.023904,0.001328,0.001328,0.001328,0.0,0.023904,0.001328,0.002656,0.020979
std,8.497948,1.667760,2.803355,1.447414,0.352876,0.479929,0.315593,0.306646,0.234716,0.0,...,0.232197,0.152853,0.036442,0.036442,0.036442,0.0,0.152853,0.036442,0.051503,0.143398
min,13.000000,1.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,20.000000,2.000000,15.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,25.000000,2.000000,17.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
75%,32.000000,3.000000,18.000000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
max,84.000000,28.000000,32.000000,11.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000

In [5]:
# STDcc, STDaids: no positives

In [6]:
cc_sm.STDaids.unique()

array([  0.,  nan])

In [7]:
cc_nm = cc_sm
categ = ['smokes','horm_cont', 'IUD', 'STDtot', 'STDc', 'STDcc', 'STDvc', 'STDvpc', 'STDs', 'STDpid', 
         'STDgh', 'STDmc', 'STDaids', 'STDhiv', 'STDhb', 'STDhpv', 'DxC']
for c in categ:
    cc_nm[c]=cc_nm[c].replace(np.nan, 2).astype(int)
cc_nm.describe()
cc_nm.to_pickle("cc_nm.pkl")

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [8]:
# 0: neg
# 1: pos
# 2: no response

In [9]:
cc_cat = cc_nm.iloc[:,4:]
cc_cont = cc_nm.iloc[:, 0:4]
cc_cont.head()

   age  num_sex  fir_sex  num_preg
0   18      4.0     15.0       1.0
1   15      1.0     14.0       1.0
2   34      1.0      NaN       1.0
3   52      5.0     16.0       4.0
4   46      3.0     21.0       4.0

In [10]:
from sklearn.preprocessing import OneHotEncoder
enc=OneHotEncoder(sparse=False)
cc_enc = cc_cont
categ = ['smokes','horm_cont', 'IUD', 'STDtot', 'STDc', 'STDcc', 'STDvc', 'STDvpc', 'STDs', 'STDpid', 
         'STDgh', 'STDmc', 'STDaids', 'STDhiv', 'STDhb', 'STDhpv', 'DxC']
for col in categ:
       data = cc_cat[[col]]
       enc.fit(data)
       # Fitting One Hot Encoding on train data
       temp = enc.transform(cc_cat[[col]])
       # Changing the encoded features into a data frame with new column names
       temp=pd.DataFrame(temp,columns=[(col+"_"+str(i)) for i in range(data[col].nunique())])
       # In side by side concatenation index values should be same
       # Setting the index values similar to the X_train data frame
       temp = temp.set_index(cc_nm.index.values)
       # adding the new One Hot Encoded varibales to the train data frame
       cc_enc = pd.concat([cc_enc,temp],axis=1)
cc_enc.head()

,age,num_sex,fir_sex,num_preg,smokes_0,smokes_1,smokes_2,horm_cont_0,horm_cont_1,horm_cont_2,...,STDhiv_1,STDhiv_2,STDhb_0,STDhb_1,STDhb_2,STDhpv_0,STDhpv_1,STDhpv_2,DxC_0,DxC_1
0,18,4.0,15.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,15,1.0,14.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,34,1.0,NaN,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,52,5.0,16.0,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,46,3.0,21.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [11]:
cc_enc.rename(columns={'STDcc_1': 'STDcc_2', 'STDaids_1' : 'STDaids_2'}, inplace=True)

In [12]:
from sklearn.preprocessing import Imputer
impute_mean = Imputer()
impute_median = Imputer(strategy = 'median')
impute_mode = Imputer(strategy = 'most_frequent')

In [14]:
cc_median = pd.DataFrame(impute_median.fit_transform(cc_cont))
cc_median.columns = cc_cont.columns
cc_median = pd.concat([cc_median, cc_enc.iloc[:,4:]], axis = 1)
cc_median.to_pickle("cc_median.pkl")
cc_median.head()

,age,num_sex,fir_sex,num_preg,smokes_0,smokes_1,smokes_2,horm_cont_0,horm_cont_1,horm_cont_2,...,STDhiv_1,STDhiv_2,STDhb_0,STDhb_1,STDhb_2,STDhpv_0,STDhpv_1,STDhpv_2,DxC_0,DxC_1
0,18.0,4.0,15.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,15.0,1.0,14.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,34.0,1.0,17.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,52.0,5.0,16.0,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,46.0,3.0,21.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [15]:
cc_median = pd.DataFrame(impute_median.fit_transform(cc_cont))
cc_median.columns = cc_cont.columns
cc_median = pd.concat([cc_median, cc_enc.iloc[:,4:]], axis = 1)
cc_median.to_pickle("cc_median.pkl")
cc_median.head()

,age,num_sex,fir_sex,num_preg,smokes_0,smokes_1,smokes_2,horm_cont_0,horm_cont_1,horm_cont_2,...,STDhiv_1,STDhiv_2,STDhb_0,STDhb_1,STDhb_2,STDhpv_0,STDhpv_1,STDhpv_2,DxC_0,DxC_1
0,18.0,4.0,15.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,15.0,1.0,14.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,34.0,1.0,17.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,52.0,5.0,16.0,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,46.0,3.0,21.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [16]:
cc_mode = pd.DataFrame(impute_mode.fit_transform(cc_cont))
cc_mode.columns = cc_cont.columns
cc_mode = pd.concat([cc_mode, cc_enc.iloc[:,4:]], axis = 1)
cc_mode.to_pickle("cc_mode.pkl")
cc_mode.head()

,age,num_sex,fir_sex,num_preg,smokes_0,smokes_1,smokes_2,horm_cont_0,horm_cont_1,horm_cont_2,...,STDhiv_1,STDhiv_2,STDhb_0,STDhb_1,STDhb_2,STDhpv_0,STDhpv_1,STDhpv_2,DxC_0,DxC_1
0,18.0,4.0,15.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,15.0,1.0,14.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,34.0,1.0,15.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,52.0,5.0,16.0,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,46.0,3.0,21.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0